<div class="main ">
  <div class="container tcenter">
    <div class="row">

      <div class="col-sm-8 col-sm-offset-2">

        <h4>Vous avez oublié votre mot de passe ?</h4>
        <hr>

        <form class="form" id="new_user" action="/users/password" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="wHxk2+0VTjNN6CXXIL7eQyfBQB+ogzVLrSgJs/MgVb62eR1epEae1lBaKvylgyUhWxYD9q/V89TFs5vCsLr2lA==">


          <div class="form-group">
            <label class="control-label"><label for="user_email">Rien n'est perdu ! Saisissez votre adresse mail ou votre numéro de téléphone, pour que nous puissions vous envoyer les instructions de réinitialisation : :</label></label>
            <div class="controls">
              <input class="form-control input-lg" type="email" value="" name="user[email]" id="user_email" placeholder="Email ou Téléphone">
            </div>
          </div>

          <div class="form-group">
            <div class="text-right controls">
              <input type="submit" name="commit" value="Modifier le mot de passe" class="btn btn-success">
            </div>
          </div>

        </form>
        <br>

      </div>

    </div>
  </div>
</div>