<div class="Home">
  <div class="Homepage">
    <div class="HomepageImage">
      <div class="Homepage-form">
        <div class="Homepage-search">
          <p class="detail"></p>

          <div class='col-sm-5 offering tcenter'>
            <form>
                <div class='o-mb3'>
                    <input type="text" class="icon-from with-icon form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class='o-mb3'>
                    <div class='input-group'>
                        <input type="text" class="icon-to with-icon form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="row">
                    <div class='col-sm'>
                        <input type="date" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                    <div class='col-sm'>
                        <input type="time" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="tleft">

                <p class="facebook-login"><a class="btn btn-lg btn-block btn-facebook" routerLink="">Rechercher</a></p>
                </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>