<footer class="footer">
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <h3>Infos pratiques</h3>
            <ul class="footer_list">
                <li class="first"><a href="#">Comment sa Marche</a></li>
                <li><a href="#">Assurance et Voyage</a></li>
                <li><a href="#">Niveaux d'Expérience</a></li>
                <li><a href="#">Application Mobile</a></li>
                <li><a href="#">Les Avis</a></li>
                <li><a href="#">Conseils et Prévention</a></li>
                <li><a href="#">Prix du Voyage</a></li>
                <li><a href="#">Questions fréquentes</a></li>

            </ul>
        </div>
        <div class="col-sm-4"><h3>Société</h3>
            <ul class="footer_list">
                <li><a href="#">Qui sommes nous</a></li>
                <li><a href="#">Témoignages</a></li>
                <li><a href="#">Partenaires</a></li>
                <li><a href="#">Utilisation des cookies</a></li>
                <li><a href="#">Conseils et Prévention</a></li>
                <li><a href="#">Prix du voyage</a></li>
                <li><a href="#">Questions fréquentes</a></li>
            </ul>
        </div>
        <div class="col-sm-2 col-xs-12">
            <div class="badges o-mb5">
                <h5>Appli mobile</h5>
                <a href="" class="badge-appstore badge-outline" target="_blank">
                    <i class="fa fa-apple"></i><span class="badge-label">iPhone</span>
                </a>
                <a href="" class="badge-playstore badge-outline" target="_blank">
                    <i class="fa fa-android"></i><span class="badge-label">Android</span>
                </a>
            </div>
        </div>

    </div>
    <div class="disclaimer">
        <div class="row">
            <div class="col-xs-5 col-sm-5">
                <div class="hidden-xs">
                    WotoYandi © 2018
                    <a class="fad" routerLink="">*Conditions générales</a>
                    <a class="fad hidden-sm hidden-md" routerLink="/">Plan du site</a>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2 text-center">
                <a href="" class="btn-link">
                    <i class="fa fa-facebook fa-1-5x"></i>
                </a>
                <a href="" class="btn-link">
                    <i class="fa fa-twitter fa-1-5x"></i>
                </a>
                <a href="" class="btn-link">
                    <i class="fa fa-instagram fa-1-5x"></i>
                </a>
            </div>
        </div>
    </div>
</footer>